bi-character-sheet {
  /* Prevent FOUC by hiding sheet slot */
  &:not(:defined) {
    [slot="sheet"] {
      display: none;
    }
  }

  & > article {
    & > header {
      font-size: 1.5rem;
      font-weight: var(--font-semibold);
    }
  }
}
