<script defer phx-track-static type="module" src={~p"/assets/js/app.js"}>
</script>
<.nav />
<header>
</header>
<main>
  <.flash_group flash={@flash} />
  This is the webapp part.
  <%= @inner_content %>
</main>
