<script defer phx-track-static type="module" src={~p"/assets/js/app.js"}>
</script>
<bi-app-context
  user-token={assigns[:user_token]}
  csrf-token={get_csrf_token()}
  user-id={assigns[:current_user] && assigns[:current_user].id}
>
  <%= @inner_content %>
</bi-app-context>
