<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Black Iron">
      <%= assigns[:page_title] || "Black Iron" %>
    </.live_title>
    <meta name="description" content={assigns[:page_description] || "Black Iron"} />
    <meta name="page-route" content={assigns[:current_route]} />
    <meta property="og:title" content={assigns[:page_title] || "Black Iron"} />
    <meta
      property="og:description"
      content={
        assigns[:page_description] ||
          "Tell me a story <3"
      }
    />
    <%= cond do %>
      <% assigns[:page_small_image] -> %>
        <meta property="og:image" content={assigns[:page_small_image]} />
        <meta name="twitter:image:src" content={assigns[:page_image]} />
        <meta name="twitter:card" content="summary" />
      <% assigns[:page_image] -> %>
        <meta property="og:image" content={assigns[:page_image]} />
        <meta name="twitter:image:src" content={assigns[:page_image]} />
        <meta name="twitter:card" content="summary_large_image" />
      <% true -> %>
    <% end %>
    <!-- Yeah fuck you -->
    <meta name="CCBot" content="nofollow" />
    <meta name="robots" content="noai, noimageai" />

    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <script>
      const theme = localStorage.getItem("bi-theme") ||
        (matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light");
      const linkEl = document.createElement("link");
      linkEl.rel = "stylesheet";
      linkEl.id = "theme";
      linkEl.href = `/assets/css/theme-${theme}.css`;
      document.head.appendChild(linkEl);
    </script>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <!-- Styles imported by JS source files -->
    <link phx-track-static rel="stylesheet" href={~p"/assets/js/app.css"} />
    <.ensure_base {assigns} />
  </head>
  <body>
    <header class="site-header">
      <a href="/" class="logo">Black Iron</a>
      <input id="side-menu" type="checkbox" />
      <label for="side-menu" class="hamburger"><span class="hamburger-line" /></label>
      <.nav current_user={@current_user} />
    </header>
    <main>
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </main>
    <footer class="site-footer">
      <.simple_form :let={f} for={@conn.params} action={~p"/theme"}>
        <input type="hidden" name="redirect_to" value={@conn.request_path} />
        <.button name="theme" value="light">Light</.button>
        <.button name="theme" value="dark">Dark</.button>
        <.button name="theme" value="system">System</.button>
      </.simple_form>
    </footer>
  </body>
</html>
