<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <!-- Yeah fuck you -->
    <meta name="CCBot" content="nofollow" />
    <meta name="robots" content="noai, noimageai" />
    <script>
      if (window.self === window.top) {
        // If the sidebar page is being requested at the top level,
        // redirect to the full layout version.
        window.location.href = window.location.href.replace(
          /(\/play\/campaigns\/[^/]+\/[^/]+)\/sidebar(\/.*)/,
          "$1$2"
        );
      }
    </script>
    <script>
      function getThemeHref() {
        const theme = localStorage.getItem("bi-theme") ||
          (matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light");
        return `/assets/css/theme-${theme}.css`;
      }
      const linkEl = document.createElement("link");
      linkEl.rel = "stylesheet";
      linkEl.id = "theme";
      linkEl.href = getThemeHref();
      document.head.appendChild(linkEl);
      window.addEventListener("message", (e) => {
        if (e.origin !== window.location.origin) { return; }
        if (e.data === "reloadTheme") {
          document.getElementById("theme").href = getThemeHref();
        }
      });
    </script>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <!-- Styles imported by JS source files -->
    <link phx-track-static rel="stylesheet" href={~p"/assets/js/app.css"} />
    <.ensure_base {assigns} />
  </head>
  <body>
    <main class="sidebar">
      <%= if !assigns[:sidebar_marker] do %>
        <a href={
          ~p"/play/campaigns/#{assigns.conn.params["campaignId"]}/#{assigns.conn.params["cslug"]}/sidebar"
        }>
          ←
        </a>
      <% end %>
      <%= @inner_content %>
    </main>
  </body>
</html>
