/*
This file is for your main application CSS.

This CSS will not leak into the shadow DOM for custom elements. Use element
styles plus theme variables to customize them instead.

To customize common variables, see variables.css. For theme-specific changes,
use theme-dark.css or theme-light.css.
 */
@import url("./variables.css");
@import url("./components/index.css");

body {
  background-color: var(--background-primary);
  color: var(--text-normal);
  padding: 0;
  margin: 0;
  font-family: var(--font-family);

  & > main {
    padding: 1rem;
  }

  & > footer {
    padding: 0 1rem;
  }
}

/*
Some fun view transition stuff. See https://developer.mozilla.org/en-US/docs/Web/API/View_Transitions_API/Using

TODO(@zkat): do this in JS so we can change direction based on what kind of nav we're doing.
*/
@view-transition {
  navigation: auto;
}
@keyframes move-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes move-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
::view-transition-old(root) {
  animation: 0.2s ease-in both move-out;
}
::view-transition-new(root) {
  animation: 0.2s ease-in both move-in;
}
