/*
Based on
https://blog.logrocket.com/create-responsive-mobile-menu-css-without-javascript/
*/

body:has(.side-menu:checked) {
  overflow: hidden;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body > header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background-primary);
  box-shadow: 1px 1px 5px 0px var(--shadow);
  position: sticky;
  height: 3rem;
  top: 0;
  width: 100%;
  & > .logo {
    flex-grow: 1;
    text-decoration: none;
    color: var(--text-normal);
    font-size: 2rem;
    font-weight: var(--font-bold);
    margin-left: 0.5rem;
  }
  & > #side-menu {
    display: none;
    &:checked {
      & ~ nav.main-nav {
        max-height: 100%;
      }
      & ~ .hamburger .hamburger-line {
        background: transparent;
        &::before {
          transform: rotate(-45deg);
          top: 0;
        }
        &::after {
          transform: rotate(45deg);
          top: 0;
        }
      }
    }
  }
  & > .hamburger {
    @media (min-width: 768px) {
      display: none;
    }
    z-index: 999;
    cursor: pointer;
    float: right;
    padding: 2rem;
    & > .hamburger-line {
      background: var(--text-normal);
      display: block;
      height: 2px;
      position: relative;
      width: 1.5rem;
      &::before, &::after {
        content: "";
        background: var(--text-normal);
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
      }
      &::before {
        top: 5px;
      }
      &::after {
        top: -5px;
      }
    }
  }
}
